<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kokiri</title>
  <style>
    body {
      background-color: #F5F7FA;
      display: flex;
      position: fixed;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      -webkit-font-smoothing: subpixel-antialiased;
      font-family: Monaco, monospace;
      font-weight: 100;
      flex-direction: column;
    }
    h1 a {
      background-color: #FFEBBA;
      color: #ED5565;
    }
    ul {
      padding-left: 0;
    }
  </style>
</head>
<body>
  <h1><a href="https://github.com/button/kokiri">Kokiri</a></h1>
  <ul>
    <li><a href="http://grafana-prod.button-internal.com/dashboard/db/kokiri">Dashboard</a></li>
    <li><a href="https://button.phacility.com/w/engineering/services/kokiri/">Wiki</a></li>
  </ul>
</body>
</html>
