<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kokiri</title>
  <style>
    body {
      background-color: #F5F7FA;
      display: flex;
      position: fixed;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      -webkit-font-smoothing: subpixel-antialiased;
    }
    h1 a {
      background-color: #ffebba;
      font-family: Monaco, monospace;
      color: #ED5565;
      font-weight: 100;
    }
  </style>
</head>
<body>
  <h1><a href="https://github.com/button/kokiri">Kokiri</a></h1>
</body>
</html>
